.h-pane {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.v-pane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

body {
  padding: 10px;
}

main>* {
  padding: 5px;
}

header>h1 {
  text-align: center;
}