#results ul{
    height: 80vh;
    overflow-y: scroll;
}

.highlight {
    background-color: yellow;
}

.result{

}

.result>span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.result>.title{
    font-weight: bold;
    font-size: 1.3rem;
}

.result>.description{
    font-style: italic;
}